@import url(http://fonts.googleapis.com/css?family=Roboto:100italic,300,400,500&subset=latin,latin-ext,cyrillic);

body {
  background-image: url('../i/body-bg.jpg');
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}

h1, h2, h3, h4, strong {
  font-weight: 500;
}

a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.container h2 {
  display: inline-block;
  margin: 50px 0;
  padding-bottom: 5px;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  color: #777;
  border-bottom: 1px solid #999;
}
.container h3 {
  font-size: 17px;
}

.navbar a:focus {
  outline: none;
}
#wildcard .navbar-inner {
  background-image: none;
}
#wildcard .navbar-inner .brand {
  margin: 0;
  padding: 0 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.carousel-inner .item {
  height: 180px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.5em;
}
.carousel-inner .item p {
  margin: 20px 0;
}
.carousel-inner .item p.media-heading {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2em;
}
.carousel-inner .item:first-child p.media-heading {
  margin-bottom: 40px;
  font-size: 42px;
}
.carousel-inner .item1 {
  background-image: url('../i/carousel/conf.jpg');
}
.carousel-inner .item2 {
  background-image: url('../i/carousel/splash.jpg');
}
.carousel-inner .item3 {
  background-image: url('../i/carousel/ocean.jpg');
}
.carousel-inner .item4 {
  background-image: url('../i/carousel/jurmala.jpg');
}
.carousel-indicators {
  top: auto;
  right: auto;
  bottom: 15px;
  left: 50%;
  width: 90px;
  margin-left: -45px;
}
.carousel-indicators li {
  cursor: pointer;
}


.home .features li {
  margin: 60px 0;
  padding: 0 10px;
}
.home .features li {
  margin-top: 0;
}
.home .features li .media-body {
  padding: 30px 35px 40px 35px;
}
.home .features i {
  margin-right: 15px;
  font-size: 42px;
  color: #1189d9;
}
.home .features img.media-object {
  width: 42.5%;
}
@media (max-width: 979px) {
  .home .features li {
    margin: 30px 0;
  }
  .home .features li .media-body {
    padding: 15px 25px 20px;
  }
}
@media (max-width: 767px) {
  .home .features li {
    margin: 20px 0;
  }
  .home .features li .media-body {
    padding: 0;
  }
}
@media (min-width: 978px) {
  .home .features .media {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}


.sponsors > div {
  line-height: 80px;
  text-align: center;
}
.sponsors > div img {
  vertical-align: middle;
}

#footer {
  margin-top: 80px;
  padding: 40px 0;
  background-color: #252528;
  color: #bbb;
  font-weight: 300;
}
#footer hr {
  border-top: 1px solid #555;
  border-bottom: none;
}
#footer .social-links {
  margin-bottom: 40px;
  text-align: center;
}
#footer .social-links a {
  color: #999;
  font-size: 24px;
  text-decoration: none;
}
#footer .social-links i {
  font-size: 42px;
}
#footer .social-links a:hover {
  color: #fff;
}
#footer .social-buttons iframe {
  width: 100px !important;
}
#footer .social-buttons #___plusone_0 {
  width: 80px !important;
}
#footer .social-buttons .IN-widget {
  margin-right: 20px;
}


@media (max-width: 979px) {
  body.home .navbar-fixed-top {
    margin-bottom: 0px;
  }
  body.home .carousel-inner .item {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}


@media (min-width: 979px) {
  #wildcard .navbar-inner {
    background-color: rgba(0,0,0,0.4);
    border-color: #666;
    border-color: rgba(0,0,0,0.5);
    text-transform: uppercase;
  }
  #wildcard .navbar-inner a {
    color: #999;
    color: rgba(255,255,255,0.6);
  }
  #wildcard .navbar-inner a:hover,
  #wildcard .navbar-inner .brand,
  #wildcard .navbar-inner .active > * {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 1px 1px 2px #000;
    background-color: transparent;
    color: #fff;
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
