---
layout: default
class: home

carousel:
  - title: Islande Hotel<br>May 16, 2015
    text: The first Latvian IT community driven conference series!<br><br>
    link: /e/201505/program.html
    link_text: Check the sessions! »
  - title: People who are afraid of getting emotionally involved<br>miss so much of the experience of engineering.
    text: Kent Beck<br><br>
    link: 
    link_text: 
  - title: “Everyone's invited!”
    text: That's our motto. And that's a good motto for unconference. Why?<br>Because we can learn from each other and nurture our knowledge and experience together.
    link: /about.html
    link_text: About »
---
<div id="carousel" class="carousel slide hidden-phone">
    <div class="carousel-inner">
        {% for item in page.carousel %}
        <div class="item item{{ forloop.index }}{% if forloop.first %} active{% endif %}">
            <div class="container slide">
                <p class="media-heading">{{ item.title }}</p>
                {% if item.text %}<p>{{ item.text }}</p>{% endif %}
                {% if item.link %}<a href="{{ site.baseurl }}{{ item.link }}" class="btn btn-large">{{ item.link_text }}</a>{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators">
        {% for item in page.carousel %}
        <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</div>
<div class="container">
    <p class="main-page-text">That’s right! Even taking into consideration the fact that technology changes damn rapidly nowadays. It’s even not so easy to keep abreast of the news about the bleeding edge stuff. But there’s a way, the way of learning from others and sharing what you’ve been learned and this way called the unconference.</p>
    <p class="main-page-text">We selected the format which is close to the original unconference format, because it creates the space for peer-to-peer learning, collaboration and creativity. Anybody can submit the talk, and the agenda is created by the attendees themselves. The sessions might be formal or informal, full of years of experience or just an introductory talk to something new.</p>
    <!-- <p class="main-page-text">Join as a speaker! Everyone's invited! Submit your session <a href="http://wildcardconf.com/e/201505/speakers.html">here</a>.</p> -->

    <div><a name="feedback"></a></div>
    <h2>Feedback</h2>
    <div>
        <div id="wufoo-mdtipxg0zclmiw">
            Fill out my <a href="https://wildcardconf.wufoo.com/forms/mdtipxg0zclmiw">online form</a>.
        </div>
        <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
        <script type="text/javascript">var mdtipxg0zclmiw;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'wildcardconf',
        'formHash':'mdtipxg0zclmiw',
        'autoResize':true,
        'height':'440',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { mdtipxg0zclmiw = new WufooForm();mdtipxg0zclmiw.initialize(options);mdtipxg0zclmiw.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
    </div>
    
    <div><a name="sponsors"></a></div>
    <h2>Our gratitude to</h2>
    <div class="perk row">
        <div class="span6">
            <a href="http://www.accenture.com/lv-en/Pages/index.aspx" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/accenture.png" alt="Accenture Latvia">
            </a>
        </div>
        <div class="span6">
            <p class="media-body">Accenture is a global management consulting, technology services and outsourcing company, with more than 281,000 people serving clients in more than 120 countries. Combining unparalleled experience, comprehensive capabilities across all industries and business functions, and extensive research on the world’s most successful companies, Accenture collaborates with clients to help them become high-performance businesses and governments.</p>
        </div>
    </div>
    <div class="row"><div class="span12"><p>&nbsp;</p></div></div>
    <!-- Gold, silver sponsors  -->
    <div class="platinum sponsors row">
        <div class="span3">
            <a href="http://www.intexsys.lv" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/intexsys.png" alt="Intexsys">
            </a>
        </div>
        <div class="span3">
            <a href="http://www.strategicstaff.com/" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/s3.png" alt="Strategic Staffing Solutions">
            </a>
        </div>
        <div class="span6">
            <!-- <a href="http://eegloo.net/" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/eegloo.png" alt="eegloo">
            </a> -->
        </div>
    </div>
    <h2>Media Partners</h2>
    <div class="media sponsors row">
        <div class="span2">
            <a href="http://kursors.lv/" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/Kursorslv.png" alt="Kursors.lv"
            </a>
        </div>
        <div class="span2">
            <a href="http://startuplatvia.eu/" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/StartUpLatvia.png" alt="StartUp Latvia"
            </a>
        </div>
        <div class="span2">
            <a href="http://ej.uz/student_techclub" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/students-techclub.png" alt="Students Techclub">
            </a>
        </div>
        <div class="span2">
            <a href="http://futbik.lv/" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/futbik-lv.png" alt="Futbik.lv"
            </a>
        </div>
        <div class="span6">
            <!-- <a href="http://likeit.lv/" target="_blank">
                <img src="{{ site.baseurl }}/i/sponsors/likeit.png" alt="Like IT">
            </a> -->
        </div>
    </div>


    <div><a name="organizers"></a></div>
    <h2>Organizers</h2>
    <div class="organizers row">
        <div class="span6">
            <div class="ldn logo">
                <a href="http://ldn.lv/"><img src="{{ site.baseurl }}/i/ugs/ldn.png" alt="Latvian Developers Network"></a>
            </div>
            <h3>Latvian Developers Network</h3>
            <p>It's all about not being locked in a certain platform or company's culture. LDN is a possibility to share own thoughts, experience and passion for software creation among the whole community.</p>
        </div>
        <div class="span6">
            <div class="agile-latvia logo">
                <a href="http://www.agilelatvia.org/"><img src="{{ site.baseurl }}/i/ugs/agile-latvia.png" alt="Agile Latvia"></a>
            </div>
            <h3>Agile Latvia</h3>
            <p>Agile Latvia is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers.</p>
        </div>
    </div>
    <div class="register bottom">
        <!-- <p class="text-center">
            Sounds exciting?
            <a href="{{ site.baseurl }}/registration.html" class="btn btn-large btn-success">Register</a>
            now!
        </p> -->
    </div>
</div>
