---
layout: default
class: home

carousel:
  - title: The first Latvian IT community driven conference.
    link: '#organizers'
    link_text: Organizers »
  - title: 5 presentation tracks to cover various facets of the software industry.
    text: From databases to testing, from software craftsmanship to modern web technologies, from Agile methodologies to enterprise solutions.
    link: '#tracks'
    link_text: Tracks »
  - title: “Everyone's invited!”
    text: That's the motto of this conference. Why? The reason is to show that no matter what part of IT we're involved with, we can learn from each other and nurture our knowledge and experience together.
    link: '#about'
    link_text: About »
  - title: Conference on the seashore of Jurmala.
    text: Jurmala is the city by the Gulf of Riga stretching along 33 km of coastline, with modern relaxation and resort facilities. It has become the largest resort area in the Baltics, as well as a popular location for international conferences and meetings.
    link: '#location'
    link_text: Location »
---
<div id="carousel" class="carousel slide hidden-phone">
    <div class="carousel-inner">
        {% for item in page.carousel %}
        <div class="item item{{ forloop.index }}{% if forloop.first %} active{% endif %}">
            <div class="container slide">
                <p class="media-heading">{{ item.title }}</p>
                {% if item.text %}<p>{{ item.text }}</p>{% endif %}
                {% if item.link %}<a href="{{ item.link }}" class="btn btn-large disabled">{{ item.link_text }}</a>{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators">
        {% for item in page.carousel %}
        <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</div>
<div class="container">
    <h2>Organizers</h2>
    <div class="organizers row">
        <div class="span4">
            <p class="text-center">
                <a href="http://ldn.lv/"><img src="holder.js/200x100" alt="Latvian Developers Network"></a>
            </p>
            <h3>Latvian Developers Network</h3>
            <p>It's all about not being locked in a certain platform or company's culture. LDN is a possibility to share own thoughts, experience and passion for software creation among the whole community.</p>
        </div>
        <div class="span4">
            <p class="text-center">
                <a href="http://www.agile-latvia.org/"><img src="holder.js/200x100" alt="Agile Latvia"></a>
            </p>
            <h3>Agile Latvia</h3>
            <p>Agile Latvia is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers.</p>
        </div>
        <div class="span4">
            <p class="text-center">
            <a href="http://www.lvoug.lv/"><img src="holder.js/200x100" alt="Latvian Oracle User Group"></a>
            </p>
            <h3>Latvian Oracle User Group</h3>
            <p>Latvian Oracle User Group (LVOUG) ir neatkarīga organizācija, kas apvieno Oracle lietotājus, profesionāļus un citus interesantus Latvijā.</p>
        </div>
    </div>
    <h2>Features</h2>
    <ul class="features media-list">
        <li class="media">
            <img class="media-object img-rounded hidden-phone pull-left" src="{{ site.baseurl }}/i/features/ldn-event.jpg">
            <div class="media-body">
                <h3 class="media-heading">
                    <i class="icon-comments"></i>
                    Community-driven event
                </h3>
                <p>It's community driven conference, so we know what guys and gals like us need. It's a social event — the rare kind of IT events, which are mostly thechnology or vendor specific.</p>
            </div>
        </li>
        <li class="media">
            <img class="media-object img-rounded hidden-phone pull-right" src="{{ site.baseurl }}/i/features/jurmala.jpg">
            <div class="media-body">
                <h3 class="media-heading">
                    <i class="icon-picture"></i>
                    Picturesque place
                </h3>
                <p>As a resort city of all seasons, Jurmala offers a wide range of leisure activities and our venue the Baltic Beach Hotel is the most elegant SPA hotel in Jurmala.</p>
            </div>
        </li>
        <li class="media">
            <img class="media-object img-rounded hidden-phone pull-left" src="{{ site.baseurl }}/i/features/agile-day.jpg">
            <div class="media-body">
                <h3 class="media-heading">
                    <i class="icon-group"></i>
                    “Everyone's invited!”
                </h3>
                <p>That's the motto of this conference. Why? The reason is to show that no matter what part of IT we're involved, we can learn from each other and nurture our knowledge and experience together.</p>
            </div>
        </li>
    </ul>
</div>
