---
layout: default
class: home

carousel:
  - title: Want more? Go for it!<br>December 7, 2013, in Riga, Latvia
    text: The first Latvian IT community driven conference series!
    link: /e/20131207/program.html
    link_text: Check the sessions »
  - title: Why unconference?
    text: Because it creates the space for peer-to-peer learning,<br>collaboration and creativity.
  - title: Make your very own event!
    text: Make your choice among submitted sessions to learn something new or<br>to meet people interested in the same questions as you are. 
    link: /e/20131207/program.html
    link_text: Vote for sessions »
  - title: “Everyone's invited!”
    text: That's the motto of this conference. Why? Because we can learn<br>from each other and nurture our knowledge and experience together.
    link: /about.html
    link_text: About »
---
<div id="carousel" class="carousel slide hidden-phone">
    <div class="carousel-inner">
        {% for item in page.carousel %}
        <div class="item item{{ forloop.index }}{% if forloop.first %} active{% endif %}">
            <div class="container slide">
                <p class="media-heading">{{ item.title }}</p>
                {% if item.text %}<p>{{ item.text }}</p>{% endif %}
                {% if item.link %}<a href="{{ site.baseurl }}{{ item.link }}" class="btn btn-large">{{ item.link_text }}</a>{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators">
        {% for item in page.carousel %}
        <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</div>
<div class="container">
    <h2>Why it is so different?</h2>
    <ul class="features media-list">
        <li class="media">
            <img class="media-object img-rounded hidden-phone pull-left" src="{{ site.baseurl }}/i/features/wcuc1-4.jpg">
            <div class="media-body">
                <h3 class="media-heading">
                    <i class="icon-comments"></i>
                    “Everyone's invited!”
                </h3>
                <p>Yes! With the motto 'Everyone's invited!' we're planning to go even further. Now we aim at bringing knowledge sharing authorship to everyone. Not only selected professionals have a right to declare the point of view from the stage, but every attendee is encouraged to actively participate and make the point this time. Why? Because we are the IT community.</p>
            </div>
        </li>
        <li class="media">
            <img class="media-object img-rounded hidden-phone pull-right" src="{{ site.baseurl }}/i/features/wcuc1-9.jpg">
            <div class="media-body">
                <h3 class="media-heading">
                    <i class="icon-picture"></i>
                    Why unconference?
                </h3>
                <p>We select this unique format, because it creates the space for peer-to-peer learning, collaboration and creativity. The sessions convened will range from formal to informal: from the well thought out talk reflecting years of practice to the ‘new idea’ that would be fun to talk about, from the demonstration of a working tool to the white-boarding of something completely new.</p>
            </div>
        </li>
        <li class="media">
            <img class="media-object img-rounded hidden-phone pull-left" src="{{ site.baseurl }}/i/features/wcuc1-1.jpg">
            <div class="media-body">
                <h3 class="media-heading">
                    <i class="icon-group"></i>
                    Why should I?
                </h3>
                <p>Because it is good deed. As it will be a FREE-for-ANYONE event, we invite sponsors to help us to make it as nicer as possible. Any help will be appreciated, both in-kind and financial. We target the IT professionals as well as out-of-industry people, especially the students.</p>
            </div>
        </li>
    </ul>
    
    <div><a name="sponsors"></a></div>
    <h2>Our gratitude to</h2>
    <div class="platinum sponsors row">
        <div class="span3">
            <a href="http://www.axioma.lv">
                <img src="{{ site.baseurl }}/i/sponsors/axioma.png" alt="Axioma">
            </a>
        </div>
        <div class="span3">
            <a href="http://eegloo.net/">
                <img src="{{ site.baseurl }}/i/sponsors/eegloo.png" alt="eegloo">
            </a>
        </div>
        <div class="span3">
            <a href="http://startuplatvia.eu/">
                <img src="{{ site.baseurl }}/i/sponsors/StartUpLatvia.png" alt="StartUpLatvia">
            </a>
        </div>
        <div class="span3">
            <a href="http://www.zabbix.com/">
                <img src="{{ site.baseurl }}/i/sponsors/zabbix.png" alt="Zabbix">
            </a>
        </div>
        <!--
        <div class="span4">
            <a href="http://www.microsoft.com/lv-lv/default.aspx">
                <img src="{{ site.baseurl }}/i/sponsors/microsoft.png" alt="Microsoft Latvia">
            </a>
        </div>
        <div class="span4">
            <a href="http://www.ibm.com/lv/lv/">
                <img src="{{ site.baseurl }}/i/sponsors/IBM.png" alt="IBM Latvia">
            </a>
        </div>
        -->
    </div>
    <div class="media sponsors row">
        <div class="span2">
            <a href="http://lifehack.lv/">
                <img src="{{ site.baseurl }}/i/sponsors/lifehacklv.png" alt="LifeHack.lv">
            </a>
        </div>
        <!-- 
        <div class="span2">
            <a href="http://likeit.lv/">
                <img src="{{ site.baseurl }}/i/sponsors/likeit.png" alt="Like IT">
            </a>
        </div>
        <div class="span2">
            <a href="http://pragprog.com/">
                <img src="{{ site.baseurl }}/i/sponsors/PragProg.png" alt="The Pragmatic Programmers">
            </a>
        </div>
        <div class="span2">
            <a href="http://www.aiesec.lv/">
                <img src="{{ site.baseurl }}/i/sponsors/AIESEC.png" alt="AIESEC Latvia">
            </a>
        </div>
        <div class="span2">
            <a href="http://oreilly.com/">
                <img src="{{ site.baseurl }}/i/sponsors/OReilly.png" alt="O'Reilly Media">
            </a>
        </div>
        <div class="span2">
            <a href="http://www.oracle.com/">
                <img src="{{ site.baseurl }}/i/sponsors/oracle.png" alt="Oracle">
            </a>
        </div>
        -->
    </div>


    <div><a name="organizers"></a></div>
    <h2>Organizers</h2>
    <div class="organizers row">
        <div class="span3">
            <div class="ldn logo">
                <a href="http://ldn.lv/"><img src="{{ site.baseurl }}/i/ugs/ldn.png" alt="Latvian Developers Network"></a>
            </div>
            <h3>Latvian Developers Network</h3>
            <p>It's all about not being locked in a certain platform or company's culture. LDN is a possibility to share own thoughts, experience and passion for software creation among the whole community.</p>
        </div>
        <div class="span3">
            <div class="agile-latvia logo">
                <a href="http://www.agilelatvia.org/"><img src="{{ site.baseurl }}/i/ugs/agile-latvia.png" alt="Agile Latvia"></a>
            </div>
            <h3>Agile Latvia</h3>
            <p>Agile Latvia is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers.</p>
        </div>
        <div class="span3">
            <div class="lvoug logo">
                <a href="http://www.lvoug.lv/"><img src="{{ site.baseurl }}/i/ugs/lvoug.png" alt="Latvian Oracle User Group"></a>
            </div>
            <h3>Latvian Oracle User Group</h3>
            <p>LVOUG is the collective “voice” for Oracle users in Latvia. It serves to protect the interests of the Latvian Oracle community and provides an essential source of information for all Oracle professionals.</p>
        </div>
        <div class="span3">
            <div class="webconf logo">
                <a href="http://www.webconf.lv/"><img src="{{ site.baseurl }}/i/ugs/webconf.png" alt="Webconf"></a>
            </div>
            <h3>Webconf</h3>
            <p>Webconf is an annual web development conference that takes place in Riga, Latvia. It is a purely tech conference, we don't talk about the Agile, methodologies and that kind of stuff. We talk about the tech (languages, databases, servers, etc) and tools we use to do our work.</p>
        </div>
    </div>
<!--
    <div><a name="co-organizers"></a></div>
    <h2>Co-organizers</h2>
    <div class="co-organizers row">
        <div class="span3">
            <div class="co-org logo">
                <a href="http://dotnet.lv/"><img src="{{ site.baseurl }}/i/ugs/dotnetlv.png" alt="Latvian .NET User Group"></a>
            </div>
        </div>
        <div class="span3">
            <div class="co-org logo">
                <a href="http://riga.techhub.com/"><img src="{{ site.baseurl }}/i/ugs/techhub.png" alt="TechHub Riga — Community and workspace for tech entrepreneurs."></a>
            </div>
        </div>
        <div class="span3">
            <div class="co-org logo">
                <a href="http://latvia.theiiba.org/"><img src="{{ site.baseurl }}/i/ugs/iibalatvia.png" alt="IIBA Latvijas Nodaļa"></a>
            </div>
        </div>
        <div class="span3">
            <div class="co-org logo">
                <a href="http://europe.ineta.org"><img src="{{ site.baseurl }}/i/ugs/ineta.png" alt="INETA EUROPE"></a>
            </div>
        </div>
    </div>
-->
    <div class="register bottom">
        <!-- <p class="text-center">
            Sounds exciting?
            <a href="{{ site.baseurl }}/registration.html" class="btn btn-large btn-success">Register</a>
            now!
        </p> -->
    </div>
</div>
