<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <title>Wildcard Conference</title>
</head>
<body id="wildcard"{% if page.class %} class="{{ page.class }}"{% endif %}>
<div id="wrap">
    <div class="navbar-wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div id="main-menu" class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="brand"><a href="{{ site.baseurl }}/">Wildcard</a></h1>
                    <div class="nav-collapse collapse" style="height: 0px;">
                        <ul class="nav pull-right">
                            <li{% if page.class == 'home' %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
                            <!--<li{% if page.class == 'registration' %} class="active"{% endif %}><a href="{{ site.baseurl }}/e/201505/registration.html">Registration</a></li>-->
                            <!--<li{% if page.class == 'program' %} class="active"{% endif %}><a href="{{ site.baseurl }}/e/201505/program.html">Program</a></li>-->
                            <li{% if page.class == 'speakers' %} class="active"{% endif %}><a href="{{ site.baseurl }}/e/201505/speakers.html">Speakers</a></li>
                            <!--<li{% if page.class == 'location' %} class="active"{% endif %}><a href="{{ site.baseurl }}/e/201505/location.html">Location</a></li> -->
                            <li{% if page.class == 'for-sponsors' %} class="active"{% endif %}><a href="{{ site.baseurl }}/sponsors.html">For sponsors</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Past events<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ site.baseurl }}/e/20130913/wrapup.html">Conference 2013</a></li>
                                    <li><a href="{{ site.baseurl }}/e/20131207/wrapup.html">Unconference 2013</a></li>
                                </ul>
                            </li>

                            <li{% if page.class == 'about' %} class="active"{% endif %}><a href="{{ site.baseurl }}/about.html">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        {{ content }}
    </div>
</div>
<div><a name="social"></a></div>
<div id="footer">
    <div class="container">
        <ul class="social-links unstyled inline">
            <li><a href="https://www.facebook.com/WildcardConference"><i class="icon-facebook"></i></a></li>
            <li><a href="https://plus.google.com/+Wildcardconf"><i class="icon-google-plus"></i></a></li>
            <li><a href="http://lanyrd.com/2015/wcuc15/"><img class="icon-lanyrd" src="{{ site.baseurl }}/i/social/lanyrd.png"></a></li>
            <li><a href="https://twitter.com/WildcardConf"><i class="icon-twitter"></i></a></li>
            <li><a href="https://twitter.com/search?q=%23wcuc15">#wcuc15</a></li>
        </ul>
        <hr>
        <div class="twitter-timelines row">
            <div class="span6"><a class="twitter-timeline" height="500" data-theme="dark" data-chrome="nofooter" href="https://twitter.com/WildcardConf" data-widget-id="328160112202104833">Tweets by @WildcardConf</a></div>
            <div class="span6"><a class="twitter-timeline" height="500" data-theme="dark" data-chrome="nofooter" href="https://twitter.com/search?q=%23wcuc15" data-widget-id="393676746513330176">Tweets about "#wcuc15"</a></div>
        </div>
        <hr>
        <div class="social-buttons pull-right">{% include social.html %}</div>
        <p>© 2013-2015 Wildcard Conference</p>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://raw.github.com/imsky/holder/v1.9/holder.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39163409-1']);
_gaq.push(['_setDomainName', 'wildcardconf.com']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
